
body{
    position: relative;
    padding: 0px !important;
}
a{
    color: white;
}
.navbar-item-custom, .navbar-item-custom a{
    color: white;
}
.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
}

.custom-div{
    display: inline-flex !important;
    max-width: 30% !important;
}

.product-item{
    margin-top: 50px;
}

.product-item h5 {
    text-transform:  uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}
.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
    
.product-item .product-price{
    font-size: 14px;
    font-weight: bold;
}

.product-container{
    margin-bottom : 140px;
}
.product-page-price{
    font-size: 19px;
}
.cart-icon {
    height: 15px;
    padding-left: 20px;
}
.blocksm{
    max-width: 600px;
    margin: 0 auto;
}
.form-check{
        position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 20px 65px;
    margin-top: 7px;
}
.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;

}

.account-item{
    background-color: #f1f2f6;
    padding: 70px;

}

.account-item a{
 text-transform: uppercase;
 font-size: 13px;
 color: #4b6584;
 font-weight: bold;
}

.account-item a:hover{
    text-decoration: none;
    color: #778ca3;
   }

.carousel{
   min-height: 100vh !important;
}

/* a{
    text-decoration: none;
    color: #333333
} */

footer{
    
    bottom: 0px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .backimg{
    background-image: url('../../assets/template/images/bg-01.jpg') ;
  }
  .card {
    margin-right: 20px !important;
}
.flex{
    display: flex;
}
.flex-center{
    align-items: center;
    justify-content: center;
}

.cart-flex{
    min-width: 100%;
}

.mt-40{
    margin-top: 30% !important;
}
.border-none{
    border : none !important;
}

.col4{
    width : 30%!important;

}
.form4{
    display: content!important;
 }


@viewport {
 width: 492px;
 zoom: 0.5;
}
.flex-center {
    align-items: center;
    justify-content: center;
}